@charset "utf-8";
@import url("reset.css");

/*-------------------------------------------------------------------------
	Layout
/*-----------------------------------------------------------------------*/
body {
	-webkit-font-smoothing: antialiased;
  font-family: 'Lato', sans-serif;
}

#all {
	padding: 60px;
}

/*-------------------------------------------------------------------------
	Common
/*-----------------------------------------------------------------------*/
.title {
	margin-bottom: 15px;
	font-size: 24px;
	font-weight: bold;
}

.summary {
	margin-bottom: 30px;
	font-size: 16px;
}

/*-------------------------------------------------------------------------
	Tree
/*-----------------------------------------------------------------------*/
.site-url {
	margin-bottom: 20px;
	padding: 1em;
	background-color: #efefef;
	font-size: 16px;
	font-weight: bold;
}

.directory-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -20px;
  margin-bottom: 20px;
}

.directory {
	width: calc(50% - 10px);
	margin-top: 20px;
}

	.directory.active .toggle:after {
		display: none;
	}

.info {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 20px;
  height: 42px;
	background-color: #efefef;
	cursor: pointer;
}

.info:hover {
	opacity: .6;
}

h3 {
	font-size: 14px;
  font-weight: bold;
}

.pagelength {
  margin-left: auto;
	font-size: 14px;
}

.toggle {
  position: relative;
  width: 16px;
	height: 16px;
  margin-left: 15px;
	border: none;
	background-color: transparent;
	line-height: 1;
	outline: none;
	padding: 0;
	appearance: none;
}

.toggle::before,
.toggle::after {
	display: block;
	content: '';
	visibility: visible;
	position: absolute;
	top: 50%;
	background-color: #000;
}

.toggle::before {
	left: 0;
	width: 100%;
	height: 4px;
	margin-top: -2px;
}

.toggle::after {
	left: 50%;
	width: 4px;
	height: 100%;
	margin-top: -50%;
	margin-left: -2px;
}

.file-list {
	padding: 10px;
}

	.file-list li + li{
		margin-top: 5px;
	}

		.file-list li a {
			display: inline-block;
			position: relative;
			padding-left: 1em;
			font-size: 12px;
			line-height: 1.2;
		}

		.file-list li a:hover {
			opacity: .8;
		}

		.file-list li a::before {
			display: block;
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: .3em;
			height: .3em;
			margin-top: -.15em;
			border-radius: 50%;
			background-color: #000;
    }

.total {
  text-align: right;
}

/*-------------------------------------------------------------------------
	Contenthidder
/*-----------------------------------------------------------------------*/
[data-js="contenthidder"] [data-contenthidder="content"] {
	display: none;
}

[data-js="contenthidder"].active [data-contenthidder="content"] {
	display: block;
}
